.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ccc;
    border-color: #000;
}

.form-group{
    margin:20px 0px;
}

.carline {
    padding: 0px 10px 0px 5px;
}

.content {
    position: relative;
    top: 50px;
}

.error{color:red;}

.button{
    margin-top:40px;
}

.success {
    color: red;
}

.highlight{background-color: yellow; }

.columnCarline{font-size: .75em;}

.toEdit{
    border: none;
    background-color: none;
}

.columnCommentTranslator{font-size: .75em;color:#ff0000;}

.headerTr {
    font-size: .75em;
    color: white;
    background-color: #000;
}

.filterLink {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.filterLink:hover, .filterLink:focus, .filterLink:active, .filterLink.active {
    color: #000;
}