.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ccc;
    border-color: #000;
}

.form-group{
    margin:20px 0px;
}

.carline {
    padding: 0px 10px 0px 5px;
}

.content {
    position: relative;
    top: 50px;
}

.error{color:red;}