.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ccc;
    border-color: #000;
}

.form-group{
    margin:20px 0px;
}

.carline {
    padding: 0px 10px 0px 5px;
}

.content {
    position: relative;
    top: 50px;
}

.error{color:red;}

.button{
    margin-top:40px;
}

.success {
    color: red;
}

.highlight{background-color: yellow; }

.columnCarline{font-size: .75em;}

.toEdit{
    border: none;
    background-color: none;
    height: auto;

}

.commentRow{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.cellComment{font-size: .75em;color:#ff0000;}

.columnDateTime{font-size: .75em;color:#fff;}

.timeRow{background-color: #000; height:10px; margin-bottom:50px; padding:0px;}

.headerTr {
    font-size: .75em;
    color: white;
    background-color: #000;
}

.filterLink {

    background: none;
    border: none;

    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color:#23527c;
    cursor: pointer;
    text-decoration: none;
}

.filterLink:hover, filterLink:focus, filterLink:active {
    color: #000;
}

.filter{
    font-size: .75em;
    color: #000;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
}